.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title-back {
  display: flex;
  align-items: center;
}

.link-container {
  display: flex;
  align-items: center;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-flow: row wrap;
  background-color: #212121;
  padding: 20px;
  border-radius: var(--border-radius);
}

.image {
  display: flex;
  flex-flow: column wrap;
  padding-right: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.detail {
  padding-top: 0px;
}

.cocktail-image {
  border-radius: var(--border-radius);
  width: 550px;
  height: 550px;
}

@media (max-width: 600px) {
  .cocktail-image {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 500px) {
  .cocktail-image {
    width: 200px;
    height: 200px;
  }
}
