.cocktail-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.cocktail-card {
  margin-bottom: var(--spacing);
  padding-top: var(--spacing);
  cursor: pointer;
  background-color: var(--primary-color);
}

.cocktail-card-content {
  padding: var(--spacing);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.cocktail-image {
  border-radius: var(--border-radius);
}
