.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-flow: row wrap;
}

.primary {
  display: flex;
  flex-flow: column wrap;
}

a {
  text-decoration: none;
  color: black;
}
