@use "@angular/material" as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 400);
$my-accent: mat.define-palette(mat.$gray-palette, 300);

$my-theme: mat.define-dark-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($my-theme);

:root {
  --color-primary: mat-color($primary, default);
  --primary-color: mat-color($primary, default);
  //--primary-interaction-hover: mat-color($primary, default)
  --border-radius: 12px;
  --spacing: 10px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dark-theme {
  background-color: #121212;
  color: #ffffff;
}
